.container {
    width: 100%;
    max-width: 1146px;
    margin: 0 auto;
    padding: 0 20px;
}

.services-container {
    width: 100%;
    max-width: 1275px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-main {
    width: 100%;
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
}
